<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gjw.firday.dao.AuthDao">
    <resultMap id="myAuth" type="cn.gjw.firday.domain.auth.Auth">
        <id column="id" property="id"></id>
        <id column="username" property="username"></id>
        <id column="password" property="password"></id>
        <collection property="sysPermissions" ofType="cn.gjw.firday.domain.SysPermission">
            <result column="name" property="name"></result>
            <result column="permission" property="permission"></result>
        </collection>
    </resultMap>
    <select id="getUserByUsername" resultMap="myAuth">
        SELECT
        u.*,
        p.*
        FROM
        sys_user u
        LEFT JOIN sys_role_user ru ON u.id = ru.userId
        LEFT JOIN sys_role r ON r.id = ru.roleId
        LEFT JOIN sys_role_permission rp ON r.id = rp.roleId
        LEFT JOIN sys_permission p ON p.id = rp.permissionId
        WHERE
        u.username =#{name}

    </select>
    <select id="getUserById" resultType="cn.gjw.firday.domain.auth.Auth">
        SELECT * from sys_user where id= #{id}
    </select>
</mapper>